<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- load client sockets -->
<script type='text/javascript' src='http://localhost:3000/socket.io/socket.io.js'></script>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
