<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Super Awesome</title>

    <script src="https://unpkg.com/jquery@3.1.1"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    //socket
    var socket = function() {
      var socket = io.connect('http://localhost:3000');

      //
      socket.on('connect', function ( data ) {
        socket.emit('recive', { 'my': 'hola como estas desde el cliente' });
      });


      //recive from server
      socket.on('send', function( data ) {
        console.log( data )
      });
    }

    socket()
    </script>



    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body    { padding-top:50px; }
    </style>
  </head>

  <body class="container">
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
              EJS Is Fun
            </a>
          </div>

          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>


      <div>
        <div>
          <div id="chatroom"></div>
        </div>

        <div>
          <form action="#" id='chat'>
            <p>
              <input type='text' id='input-chat' />
            </p>
            <p>
              <input type="submit" value="send message"/>
            </p>
          </form>
        </div>
      </div>

    </main>

    <footer>
      <p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
    </footer>
  </body>

</html>
